.wrapperButtonScrollTop{
    position: fixed;
    bottom: -100px;
    right: 20px;
    transition: all .5s;
    z-index: 99;
}

.buttonScrollTop{
    width: 45px;
    padding-top: 45px;
    position: relative;
    display: block;
    background-color: $color17;
    border-radius: 50%;
    transition: all .2s;
    svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;
        transition: all .2s;
    }
    &:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% + 15px);
        padding-top: calc(100% + 15px);
        background-color: $color1;
        opacity: .4;
        transition: all .5s;
        z-index: -1;
    }
    &:hover{
        background-color: $color1;
        color: $color17;
        &:after{
            background-color: $color17;
            opacity:.8;
        }
    }
}

@media (max-width: 575.98px){
    .wrapperButtonScrollTop{
        right: 10px;
    }
    .buttonScrollTop{
        width: 35px;
        padding-top: 35px;
        svg{
            width: 20px;
            height: 20px;
        }
    }
}