.buttonPlayMainVideo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    color: $color1 !important;
    background-color: $color17;
    border-radius: 50%;
    position: relative;
    transition: all 0.5s;
    svg {
        width: 20px;
        height: 20px;
        transform: translateX(2px);
        transition: all 0.5s;
    }
    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $color17;
        opacity: 0.5;
        animation: pulse 1.3s infinite linear;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
        pointer-events: none;
    }
    &:hover {
        transform: scale(0.95);
        background-color: $color21;
    }
}

.buttonShowContent {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // padding: 20px;
    color: $color1 !important;
    background-color: $color17;
    border-radius: 50%;
    position: relative;
    transition: all 0.5s;
    svg {
        width: 20px;
        height: 20px;
        transform: translateX(2px);
        transition: all 0.5s;
    }
    &:hover {
        transform: scale(0.95);
    }
}

.buttonPrimary {
    display: inline-block;
    text-decoration: none;
    color: $color1 !important;
    background-color: $color17;
    border: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding: 14px 20px;
    // border-radius: 8px;
    transition: all 0.5s;
    &:hover {
        background-color: $color21 !important;
        transform: scale(0.95);
    }
}

.buttonHoverAnimationSonar {
    position: relative;
    &:before {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        top: 0;
        left: 0;
        padding: 0;
        z-index: -1;
        opacity: 0;
        transform: scale(0.9);
        border-radius: inherit;
        opacity: 0.3;
    }
    &:hover {
        &:before {
            animation: sonarEffect 1s ease-out 50ms;
        }
    }
}

.buttonHoverAnimationSonarRed {
    position: relative;
    &:before {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        top: 0;
        left: 0;
        padding: 0;
        z-index: -1;
        opacity: 0;
        transform: scale(0.9);
        border-radius: inherit;
        opacity: 0.3;
    }
    &:hover {
        &:before {
            animation: sonarEffectRed 1s ease-out 50ms;
        }
    }
}

.buttonPrimary-outLine {
    display: inline-block;
    text-decoration: none;
    color: $color17;
    background-color: $color1;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding: 14px 20px;
    border: 2px solid $color1;
    // border-radius: 8px;
    transition: all 0.5s;
    &:hover {
        color: $color1;
        background-color: $color17;
        transform: scale(0.95);
    }
}

.buttonHoverAnimationSonar-outLine {
    position: relative;
    &:before {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        top: 0;
        left: 0;
        padding: 0;
        z-index: -1;
        opacity: 0;
        transform: scale(0.9);
        border-radius: inherit;
        opacity: 0.3;
    }
    &:hover {
        &:before {
            animation: sonarEffectWhite 1s ease-out 50ms;
        }
    }
}

.buttonArrow{
    color: $color2;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    position: relative;
    transition: all .5s;
    &:before{
        position: absolute;
        content: "";
        height: 6px;
        width: 6px;
        background: transparent;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        border-right: 2px solid $color2;
        border-bottom: 2px solid $color2;
        left: calc(115% + 8px);
        transition: 0.5s ease;
    }
    &:after{
        position: absolute;
        content: "";
        height: 2px;
        width: 15px;
        top: 50%;
        transform: translateY(-50%);
        background: $color2;
        transition: 0.5s ease;
        left: 115%;
    }
    &:hover{
        color: $color3;
        &:after{
            width: 20px;
            background: $color3;
        }
        &:before{
            left: calc(115% + 14px);
            border-color: $color3;
        }
    }
}








// hover electric effect
.electric-btn {
    z-index: 1;
    position: relative;
    display: block;
    .mask {
        position: absolute;
        height: 20%;
        width: 100%;
        overflow: hidden;
        display: none;
    }
}

.electric-btn .mask span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}
.electric-btn .mask:nth-child(6) {
    top: 100%;
}
.electric-btn .mask:nth-child(6) span {
    top: -500%;
}
.electric-btn .mask:nth-child(5) {
    top: 80%;
}
.electric-btn .mask:nth-child(5) span {
    top: -400%;
}
.electric-btn .mask:nth-child(4) {
    top: 60%;
}
.electric-btn .mask:nth-child(4) span {
    top: -300%;
}
.electric-btn .mask:nth-child(3) {
    top: 40%;
}
.electric-btn .mask:nth-child(3) span {
    top: -200%;
}
.electric-btn .mask:nth-child(2) {
    top: 20%;
}
.electric-btn .mask:nth-child(2) span {
    top: -100%;
}



.linkMainMenu,
.buttonSearchBoxBottomHeader{
    font-size: 14px;
    line-height: 20px;
    &:hover{
        .electric-btn{
            // .text {
            //     -webkit-animation: fade-in 0.8s both;
            //     animation: fade-in 0.8s both;
            // }
            .mask {
                display: block;
                span{
                    color: $color17;
                }
            }
            .mask:nth-child(6),
            .mask:nth-child(7) {
                display: none !important;
            }
            .mask:nth-child(4) {
                -webkit-animation: electric-20-23-8 0.3s both;
                animation: electric-20-23-8 0.3s both;
            }
            .mask:nth-child(3) {
                -webkit-animation: electric-20-22-8 0.3s both;
                animation: electric-20-22-8 0.3s both;
            }
            .mask:nth-child(2) {
                -webkit-animation: electric-20-21-8 0.3s both;
                animation: electric-20-21-8 0.3s both;
            }
        }
    }
}

@media (max-width: 1199px){
    .electric-btn{
        .text{
            animation: none !important;
        }
        .mask{
            display: none !important;
        }
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes electric-20-21-8 {
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    95% {
        -webkit-transform: translate(0.175px, -0.1px);
        transform: translate(0.175px, -0.1px);
    }
    90% {
        -webkit-transform: translate(-0.65px, 0);
        transform: translate(-0.65px, 0);
    }
    85% {
        -webkit-transform: translate(0.375px, 0);
        transform: translate(0.375px, 0);
    }
    80% {
        -webkit-transform: translate(-1.7px, -0.4px);
        transform: translate(-1.7px, -0.4px);
    }
    75% {
        -webkit-transform: translate(-0.875px, -0.25px);
        transform: translate(-0.875px, -0.25px);
    }
    70% {
        -webkit-transform: translate(-1.05px, -0.3px);
        transform: translate(-1.05px, -0.3px);
    }
    65% {
        -webkit-transform: translate(3.675px, 0);
        transform: translate(3.675px, 0);
    }
    60% {
        -webkit-transform: translate(1.4px, 0);
        transform: translate(1.4px, 0);
    }
    55% {
        -webkit-transform: translate(4.725px, 1.8px);
        transform: translate(4.725px, 1.8px);
    }
    50% {
        -webkit-transform: translate(-2.75px, 0.5px);
        transform: translate(-2.75px, 0.5px);
    }
    45% {
        -webkit-transform: translate(-4.675px, -1.65px);
        transform: translate(-4.675px, -1.65px);
    }
    40% {
        -webkit-transform: translate(-0.3px, -0.6px);
        transform: translate(-0.3px, -0.6px);
    }
    35% {
        -webkit-transform: translate(-6.175px, -1.95px);
        transform: translate(-6.175px, -1.95px);
    }
    30% {
        -webkit-transform: translate(3.85px, 2.1px);
        transform: translate(3.85px, 2.1px);
    }
    25% {
        -webkit-transform: translate(-6.375px, -2.25px);
        transform: translate(-6.375px, -2.25px);
    }
    20% {
        -webkit-transform: translate(7.6px, -2.4px);
        transform: translate(7.6px, -2.4px);
    }
    15% {
        -webkit-transform: translate(8.075px, 0);
        transform: translate(8.075px, 0);
    }
    10% {
        -webkit-transform: translate(-4.95px, 0);
        transform: translate(-4.95px, 0);
    }
    5% {
        -webkit-transform: translate(8.075px, 0.95px);
        transform: translate(8.075px, 0.95px);
    }
}

@keyframes electric-20-22-8 {
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    95% {
        -webkit-transform: translate(-0.35px, 0);
        transform: translate(-0.35px, 0);
    }
    90% {
        -webkit-transform: translate(0.3px, 0);
        transform: translate(0.3px, 0);
    }
    85% {
        -webkit-transform: translate(1.35px, -0.3px);
        transform: translate(1.35px, -0.3px);
    }
    80% {
        -webkit-transform: translate(0.8px, 0.8px);
        transform: translate(0.8px, 0.8px);
    }
    75% {
        -webkit-transform: translate(1.75px, -0.5px);
        transform: translate(1.75px, -0.5px);
    }
    70% {
        -webkit-transform: translate(1.5px, 0.6px);
        transform: translate(1.5px, 0.6px);
    }
    65% {
        -webkit-transform: translate(-3.15px, 0.35px);
        transform: translate(-3.15px, 0.35px);
    }
    60% {
        -webkit-transform: translate(3.6px, 1.6px);
        transform: translate(3.6px, 1.6px);
    }
    55% {
        -webkit-transform: translate(-4.05px, 1.8px);
        transform: translate(-4.05px, 1.8px);
    }
    50% {
        -webkit-transform: translate(1.5px, 0);
        transform: translate(1.5px, 0);
    }
    45% {
        -webkit-transform: translate(-5.5px, -1.65px);
        transform: translate(-5.5px, -1.65px);
    }
    40% {
        -webkit-transform: translate(4.2px, 2.4px);
        transform: translate(4.2px, 2.4px);
    }
    35% {
        -webkit-transform: translate(0.65px, -0.65px);
        transform: translate(0.65px, -0.65px);
    }
    30% {
        -webkit-transform: translate(-7px, -1.4px);
        transform: translate(-7px, -1.4px);
    }
    25% {
        -webkit-transform: translate(-6.65px, -0.75px);
        transform: translate(-6.65px, -0.75px);
    }
    20% {
        -webkit-transform: translate(-2.4px, 0.8px);
        transform: translate(-2.4px, 0.8px);
    }
    15% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    10% {
        -webkit-transform: translate(4.5px, 2.7px);
        transform: translate(4.5px, 2.7px);
    }
    5% {
        -webkit-transform: translate(-6.65px, 2.85px);
        transform: translate(-6.65px, 2.85px);
    }
}

@keyframes electric-20-23-8 {
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    95% {
        -webkit-transform: translate(0.525px, -0.15px);
        transform: translate(0.525px, -0.15px);
    }
    90% {
        -webkit-transform: translate(-0.95px, -0.2px);
        transform: translate(-0.95px, -0.2px);
    }
    85% {
        -webkit-transform: translate(0.225px, -0.45px);
        transform: translate(0.225px, -0.45px);
    }
    80% {
        -webkit-transform: translate(-1.3px, 0.8px);
        transform: translate(-1.3px, 0.8px);
    }
    75% {
        -webkit-transform: translate(-0.875px, 0.5px);
        transform: translate(-0.875px, 0.5px);
    }
    70% {
        -webkit-transform: translate(-2.25px, -0.3px);
        transform: translate(-2.25px, -0.3px);
    }
    65% {
        -webkit-transform: translate(2.625px, -0.35px);
        transform: translate(2.625px, -0.35px);
    }
    60% {
        -webkit-transform: translate(-1px, 0);
        transform: translate(-1px, 0);
    }
    55% {
        -webkit-transform: translate(1.575px, 1.8px);
        transform: translate(1.575px, 1.8px);
    }
    50% {
        -webkit-transform: translate(-3.75px, -1px);
        transform: translate(-3.75px, -1px);
    }
    45% {
        -webkit-transform: translate(5.325px, 0.55px);
        transform: translate(5.325px, 0.55px);
    }
    40% {
        -webkit-transform: translate(0.3px, 2.4px);
        transform: translate(0.3px, 2.4px);
    }
    35% {
        -webkit-transform: translate(2.275px, 0);
        transform: translate(2.275px, 0);
    }
    30% {
        -webkit-transform: translate(2.45px, -0.7px);
        transform: translate(2.45px, -0.7px);
    }
    25% {
        -webkit-transform: translate(1.125px, 0.75px);
        transform: translate(1.125px, 0.75px);
    }
    20% {
        -webkit-transform: translate(-4.4px, 3.2px);
        transform: translate(-4.4px, 3.2px);
    }
    15% {
        -webkit-transform: translate(4.075px, 2.55px);
        transform: translate(4.075px, 2.55px);
    }
    10% {
        -webkit-transform: translate(1.35px, -1.8px);
        transform: translate(1.35px, -1.8px);
    }
    5% {
        -webkit-transform: translate(4.275px, -1.9px);
        transform: translate(4.275px, -1.9px);
    }
}

// dots slide
.wrapNumberMainSlider {
    cursor: pointer;
}
// end dots slide
