.wrapperLinkSocialsInRight{
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    bottom: 200px;
    right: -100px;
    transition: all .5s;
    z-index: 999;
    
}
.linkSocials{
    display: block;
    width: 45px;
    height: 45px;
    margin-top: 10px;
    transition: all .5s;
    &:hover{
        transform: scale(.85);
    }
}
@media (max-width: 575.98px){
    .linkSocials{
        width: 35px;
        height: 35px;
        img{
            width: 35px;
        }
    }
}

/* Mobie: width < 740px */
@media only screen and (max-width: 739px) {

}
/* Mobile & tablet: width <1024px */
@media only screen and (max-width: 1023px){
    .wrapperLinkSocialsInRight{
        bottom: 100px;
    }
}
