// list color
$color1: #ffffff;
$color2: #000000;
$color3: #2c4e9c;
$color4: #303442;
$color5: #bbbdc3;
$color6: #333333;
$color7: #0000004a;
$color8: #092271;
$color9: #525050;
$color10: #818385;
$color11: #f5f6fa;
$color12: #172231;
$color13: #e9e9eb;
$color14: #22252f;
$color15: #ffffffcf;
$color16: #7b7b7b85;
$color17: #d32c2c;
$color18: #183186;
$color19: #7b7b7b;
$color20: #eff2f7;
$color21: #ae0003;
$color22: #1c1c1c;
$color23: #254866;
$color24: #cecece;
$color25: #eaecef;
$color26: rgba(9, 34, 113, 0.8);
$color27: #e9ebed;
$color28: #dde1ef;
$color29: rgba(255, 255, 255, 0.9);
$color30: rgba(211, 44, 44, 0.8);
// end list color

// list font 
$font1: 'Roboto';
$font2: 'Roboto';
// end list font 

// box shadow
$box-shadow-1: 0px 5px 10px 2px rgba(0,0,0,0.09);